* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, sans-serif;
  text-align: center;
  background-color: #f3f3f3;
  margin: 0 auto;

}



.wrapper {
 margin: 0 auto;

  /*max-width: 960px;  2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

img{
  padding-top: 20px;
  margin-top: 10px;
  max-width: 80%;
}

h1{
  text-align:center;

}

a {
  text-decoration: none;
}

 p{
  color: slategrey;
}

ul{
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;

}

ul li{
  font-weight: bold;
  margin: 5px;
  background-color: #fff;
  padding: 10px 0;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;

}

p{
  font-size: 1.25em;
  line-height: 1.5em;

}

footer{
  padding: 40px 10px;
  border-top: #000;
}

footer h3  {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

a:visited{
  text-decoration: none;
  color: slategrey;

}

/*Classes*/

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.contact-info{
  padding: 60px 0;
  border-bottom: 1px solid #b9b9b9;
}

.contact-info h3, p{
  padding: 10px auto;
  margin: 20px auto;
}

.profile-photo{
  width: auto;
}

.footer-nav{
  display:none;
}
/* Media Queries */

@media (min-width: 768px){

  h1{
    display:block;
    text-align: center;

  }

  .profile-photo{
    float:right;
    width: 45%;
  }


    .body-text{
      /*float: left;*/
      text-align: center;
      font-size:14px;
      width: 45%;
      padding: 10px;
      margin: 20px;
    }

    .top-body{
      padding: 10px 20px;
      margin: 50px 10px;
      text-align:center;

    }



    .portfolio-items {
      width: 95%;
      margin: auto 50px;
      text-align: center;

      clear: both;
    }

    .content-container {
      float: left;
      width: 45%;
      margin: 10px;
    }

    .contact-info{
      display:block;
      clear: both;
      padding-top: 50px;
    }
    .footer-nav{
      display:inline;
      float: right;
    }

    footer{
      margin: 0 20px;
      padding: 40px 40px;

    }

    .navigation{
      display: inline-block;
      margin-top: 20px;
    }

    ul li{
      display: inline-block;
      text-align: center;

      padding: 10px 80px;
      float; left;
    }
    .float-right{
      display:none;
    }

    clearfix::after{
        content: "";
        display: table;
        clear: both;

    }

    }



@media (min-width: 1024px){

  .wrapper {
    max-width: 95%;
  }

  .profile-photo{
    /*float: right;*/
    width: 500px;
  }



    .body-text{

      font-size:20px;
      padding: 10px;
      margin: 20px;
    }

    .top-body{
      padding: 10px 20px;
      margin: 50px 10px;
      font-size: 20px;
      text-align:center;
      clear: both;

    }



    .portfolio-items {
     width: 95%;
      margin: auto 50px;
      text-align: center;

      clear: both;
    }

    .content-container {
      float: left;
      width: 30%;
      margin: 10px;
    }

    .contact-info{
      display:block;
      clear: both;
      padding-top: 50px;
    }

    footer{
      margin: 0 20px;
      padding: 40px 40px;

    }

    .navigation{
      display: inline;
      padding-top: 20px auto;
      margin-top:50px;

    }
.logo{
  float: left;
}
    .logo,
    .navigation li {
      text-align: right;
      padding: 20px 50px;
      float; right;
    }

    .navigation ul{
      float: right;
      position: absolute;
      top: 10px;
      right: 125px;
    }

    .float-right{
      display:none;
    }



    clearfix::after{
        content: "";
        display: table;
        clear: both;

    }

    }
